@import 'tailwindcss';
@import './theme.css';
@custom-variant dark (&:where(.dark, .dark *));

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

@utility animate-float {
  animation: float 3s ease-in-out infinite;
}

@theme inline {
  --color-primary: hsl(var(--primary));
  --color-background: hsl(var(--background));
  --color-background-deep: hsl(var(--background-deep));
  --color-foreground: hsl(var(--foreground));
  --color-card: hsl(var(--card));
}

@utility login-background {
  background: radial-gradient(
    ellipse at 50% 50%,
    hsl(var(--primary) / 12%) 0%,
    rgba(7, 7, 9, 0.02) 60%,
    transparent 100%
  );
  -webkit-filter: blur(80px);
  filter: blur(80px);
}
