@import 'tailwindcss';
@import './theme.css';
@custom-variant dark (&:where(.dark, .dark *));

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

@utility animate-float {
  animation: float 3s ease-in-out infinite;
}

@theme inline {
  --color-primary: hsl(var(--primary));
  --color-background: hsl(var(--background));
  --color-background-deep: hsl(var(--background-deep));
  --color-foreground: hsl(var(--foreground));
  --color-card: hsl(var(--card));
}

@utility login-background {
  background: linear-gradient(
    154deg,
    rgba(7, 7, 9, 0.082) 30%,
    hsl(var(--primary) / 20%) 48%,
    rgba(7, 7, 9, 0.082) 64%
  );
  -webkit-filter: blur(100px);
  filter: blur(100px);
}
